
body {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin: 0px;
}

a {
    color: #fff;
}

#kc-page-title{
    display:none;
}
div#kc-header::after {
    padding-top: 3px;
    background-image: url('../img/simplechat.png');
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}

div#kc-info {
}

div#kc-header {
    width:100%;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 50%);
    color: rgba(0,0,0,0.6);
    box-shadow: black;
    background-image: url('../img/simplechat.png');
    background-size: 150px 75px;
    background-repeat: no-repeat;
    background-position: initial;
    background-position-x: 47%;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-right: 2em;
    padding-left: 3em;
}

div#kc-content {
    box-shadow: 0px 0px 6px rgb(0 0 0 / 50%);
    padding: 50px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
}

div#kc-form {

}
div#kc-form label {
    display: block;
    font-size: 20px;
}
div#kc-form-login {
    text-align: center;
}

div#info-area {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 99%;
}

div#info-area p {
    margin-right: 30px;
    display: inline;
    text-shadow: none;
    font-size: 20px;
}
input[type=text], input[type=password] {
    font-size: 30px;
    margin-bottom: 20px;
    background: none;
    border-width: 0 0 1px 0;
    padding-top: 12px;
    width: 95%;
}


input[type=submit] {
    border: none;
    border-radius: 3px;
    background-color: #1265f0;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 2em;
}

input[type=submit]:hover {
    background-color: #0d4095;
}

div#kc-form-options div {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

div#kc-form-options div label {
    font-size: 20px;
}

div#kc-feedback {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

div#kc-feedback-wrapper {
    padding: 1em;
}

div.feedback-success {
    background-color: rgba(155,155,255,0.1);
}

div.feedback-warning {
    background-color: rgba(255,175,0,0.1);
}

div.feedback-error {
    background-color: rgba(255,0,0,0.1);
}

div#kc-header-wrapper {
    display: none;
}

div#kc-registration {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 2em;
}

div#social-login {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    float: right;
    width: 150px;
    padding: 20px 0 200px 40px;
}

div.social-login span {
    display: none;
}

div#kc-social-providers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#kc-social-providers ul li {
    margin-bottom: 20px;
}

div#kc-social-providers ul li span {
    display: inline;
    width: 100px;
}

a.zocial {
    border: none;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -o-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    width: 130px;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}